/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable no-descending-specificity */
.section.compare {
    max-width: 1312px;
    margin: 0 auto;
    padding: 48px 0;
}

.pricecity table {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    border: 1px solid #F9F5EE;
    width: 100%;
    table-layout: fixed;
}

.section.pricecity-container h2 {
    font: var(--font-600);
    padding-bottom: 32px;
}

.section.compare .pricecity thead,
tbody,
tr {
    display: block;
}

.section.compare .pricecity thead {
    background-color: #F9F5EE;
    border-radius: 16px 16px 0 0;
}

.section.compare .pricecity thead tr {
    padding: 20px 24px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.section.compare .pricecity tbody tr div td {
    flex: 0 0 33%;
}

.section.compare .pricecity thead tr th {
    flex: 0 0 33.33%;
}

.section.compare .pricecity thead tr th p {
    display: flex;
    flex-direction: row-reverse;
    gap: 4px;
    justify-content: flex-end;
}

.section.compare .pricecity thead tr th p img {
    width: 70%;
    max-width: 74px;
}

.section.compare .pricecity tbody tr {
    padding: 20px 24px 0;
}

.section.compare .pricecity tbody tr>td:first-child {
    font: var(--font-card);
}

.section.compare .pricecity tbody tr > div {
    display: flex;
    justify-content: space-between;
    padding: 16px 0 24px;
    font: var(--font-400);
    border-bottom: 1px solid #DFDFDF;
    gap: 10px;
}

.section.compare .pricecity tbody tr:last-child > div {
    border-bottom: none;
}

.section.compare .pricecity tbody tr:last-child > div > td p{
    position: relative;
}

.section.compare .pricecity tbody tr:last-child  div  p  span{
    padding: 12px;
    text-align: center;
    border: 1px solid #A7A6A6;
    box-shadow: 0 12px 14px 0 rgb(0 0 0 / 10%);
    background-color: #FFF;
    border-radius: 12px;
    width: 90px;
    position: absolute;
    top:-275px;
    left: -68px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    font-weight: 400;
    font-family: montreal-regular,sans-serif;
    display: none
}

.section.compare .pricecity tbody tr:last-child  div p img:hover + span{
    display: block;
}

.section.compare .pricecity tbody tr:last-child  div td{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

.section.compare .pricecity tbody tr div p {
    display: flex;
    flex-direction: row-reverse;
    gap: 4px;
    justify-content: flex-end;
}

.section.compare .pricecity .color ul {
    display: flex;
}

.section.compare .pricecity .color ul li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: -5px;
}

.section.pricecity-container .default-content-wrapper:nth-child(3) {
    display: flex;
    justify-content: center;
}

.section.pricecity-container .default-content-wrapper:nth-child(3) p {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 24px;
    font: var(--font-400);
    font-family: montreal-semibold, sans-serif;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
}

.section.pricecity-container .pricecity-wrapper .pricecity.block table tbody .select-wrapper {
    display: flex;
    position: relative;
}

.section.pricecity-container .pricecity-wrapper .pricecity.block table tbody td .select-wrapper .city-wrapper {
    display: none;
    position: absolute;
    top: 30px;
    width: 200px;
    z-index: 1;
    flex-direction: column;
    overflow-y: auto;
    max-height: 400px;
}

.section.pricecity-container .pricecity-wrapper .pricecity.block table tbody td.open .select-wrapper .city-wrapper {
    display: flex;
}

    .section.compare .city-wrapper{
        background-color: #FFF;
        border-radius: 8px;
        padding: 16px;
         box-shadow: 0 0 24px 0 rgb(0 0 0 / 8%);
    }

    .section.compare .city-wrapper .city-option{
        border-bottom: 1px solid #DFDFDF;
        padding: 8px 0;
        cursor: pointer;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.4px;
        font-weight: 500;
        font-family: montreal-medium,sans-serif;
    }

    .section.compare .selected-city{
        color:rgb(255 83 16 / 100%);
        position: relative;
        cursor: pointer;
    }

    .section.compare .selected-city::before{
        position: absolute;
        right: -30px;
        top: 8px;
        content: '';
        display: inline-block;
        width: 16px;
        height: 12px;
        margin-right: 6px;
        background: rgb(255 83 16 / 100%);
        clip-path: polygon(0 0, 50% 100%, 100% 0);
    }

    .section.compare .open .selected-city::before{
        top: 8px;
        clip-path: polygon(50% 0, 0 100%, 100% 100%);
    }

    .section.compare .pricecity tbody tr p img {
        cursor: pointer;
        margin-left: 8px;
    }

@media (width >=900px) {
    .section.compare {
        padding: 72px 0;
    }

    .section.compare .pricecity table {
        border-radius: 24px;
    }

    .section.pricecity-container h2 {
        font: var(--font-600);
        padding-bottom: 64px;
    }

    .section.compare .pricecity tbody tr div td {
        flex: 0 0 33.33%;
        text-align: center;
    }

    .section.compare .pricecity tbody tr>td:first-child {
        font: var(--font-400);
        font-weight: 600;
        font-family: montreal-semibold, sans-serif;
        flex: 0 0 20%;
        text-align: start;
    }


    .section.compare .pricecity tbody tr p {
        display: flex;
        flex-direction: row-reverse;
        gap: 4px;
        justify-content: center;
        align-items: center;
    }

    .section.compare .pricecity thead {
        background-color: #F9F5EE;
        border-radius: 16px 16px 0 0;
    }

    .section.compare .pricecity thead tr {
        padding: 38px 40px;
        justify-content: space-between;
    }

    .section.compare .pricecity thead tr th {
        flex: 0 0 26.6%;
        text-align: start;
    }

    .section.compare .pricecity thead tr th:first-child {
        flex: 0 0 20%;
    }

    .section.compare .pricecity tbody tr div p {
        justify-content: center;
    }

    .section.compare .pricecity thead tr th p {
        justify-content: center;
    }

    .section.pricecity-container .default-content-wrapper:nth-child(3) p {
        font-size: 16px;
        line-height: 20px;
    }

    .section.compare .pricecity thead tr th p img {
        width: 94px;
        max-width: 100%;
    }

    .section.pricecity-container .default-content-wrapper:nth-child(3) p {
        font-size: 16px;
        line-height: 20px;
    }

    .section.compare .pricecity tbody tr {
        margin: 0 40px;
        padding: 32px 0 24px;
        display: flex;
        border-bottom: 1px solid #DFDFDF;
    }

    .section.compare .pricecity tbody tr > div {
        flex: 0 0 80%;
        padding: 0;
        border-bottom: none;
    }

    .section.compare .pricecity tbody tr>td:first-child p {
        display: block;
    }

    .section.compare .pricecity .color ul {
        justify-content: center;
    }

    .section.compare .pricecity .color ul li {
        width: 24px;
        height: 24px;
    }

    .section.compare .pricecity tbody tr:last-child {
        padding-bottom: 24px;
        border-bottom: none;
    }

    .section.compare .pricecity tbody tr:last-child  div  p  span{
    width: 336px;
    top:-95px;
    left: unset;
}

.section.compare .pricecity tbody tr:last-child  div  p  span::before{
    content: "";
  position: absolute;
  bottom: -10px; /* places arrow just below box */
  left: 50%; /* centers horizontally */
  transform: translateX(-50%);
  width: 20px;
  height: 10px;
  background: #fff;
  border: 1px solid #dcdcdc;
  border-top: none;
  clip-path: polygon(0 0, 50% 100%, 100% 0);
}

}