footer {
  background-color: #1D1B1B;
}

footer .footer>div {
  padding: 32px 105px;
}

@media (width <=900px) {
  footer .footer>div {
    padding: 16px;
    display: flex;
    flex-direction: column;
  }
}

/* Footer Address CSS */
.section.footer-address-container .columns.block>div {
  align-items: start;
  padding-bottom: 32px;
}

.section.footer-address-container .columns.block>div>div:first-child {
  width: auto;
  min-width: 14.75rem;
}

.section.footer-address-container .columns.block>div>div:last-child {
  width: 80%;
  flex: unset;
}

.section.footer-address-container .columns.block>div>div .icon.icon-vida-footer-logo {
  display: inline-block;
  width: 170px;
  height: 24px;
  cursor: pointer;
}

.section.footer-address-container .columns.block>div>div span img {
  width: 100%;
  height: 100%;
}

.section.terms-service-container .default-content-wrapper p {
  font-size: 12px;
  line-height: normal;
  font-weight: 400;
  color: #fff;
}

.section.footer-address-container .columns.block>div>div p {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  max-width: 210px;
  padding-bottom: 16px;
  margin: 0;
}

.section.terms-service-container .default-content-wrapper ul li a {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.25px;
  color: #A7A6A6;
  text-decoration: none;
}

.section.footer-address-container .columns.block>div>div p.button-container a {
  margin: 0;
  padding: 0;
  background-color: unset;
  color: #ff5310;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  text-decoration: underline;
  font-family: "PP Montreal Medium",sans-serif;
}

.section.terms-service-container .default-content-wrapper ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.section.terms-service-container .default-content-wrapper ul li {
  margin-right: 32px;
}


.section.footer-address-container .columns.block>div>div ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section.footer-address-container .columns.block>div>div ul li p {
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  padding-top: 16px;
  font-family: "PP Montreal Book",sans-serif;
}

.section.footer-address-container .columns.block>div>div ul li ul {
  display: flex;
}

.section.footer-address-container .columns.block>div>div ul li ul li {
  margin-right: 18px;
}

.section.footer-address-container .columns.block>div>div ul li ul li span {
  display: inline-block;
  width: 30px;
  height: 30px;
}

.section.footer-address-container .columns.block>div>div ul li ul li span img {
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

.section.footer-address-container .columns.block>div>div ul li ul li span img:hover {
  opacity: unset;
}

.section.footer-address-container .columns.block>div>div:last-child ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}


.section.footer-address-container .columns.block>div>div:last-child ul li {
  width: 25%;
}

.section.footer-address-container .columns.block>div>div:last-child ul li p {
  color: #DFDFDF;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.25px;
  padding: 0;
  font-family: montreal-regular,sans-serif;
}

.section.footer-address-container .icon-vida-footer-desk{
  width: 108px;
  height: 48px;
}

.section.footer-address-container .columns.block>div>div:last-child ul li ul {
  flex-direction: column;
  margin: 0;
}

.section.footer-address-container .columns.block>div>div:last-child ul li ul li {
  margin: 0;
  width: unset;
  padding-left: 0;
  padding: 16px 0;
}

.section.footer-address-container .columns.block>div>div:last-child ul li ul li a {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  font-family: montreal-regular,sans-serif;
  text-decoration: none;
}

.section.footer-address-container ol li ol li a {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.25px;
  font-family: montreal-medium,sans-serif;
  text-decoration: none;
}

.section.footer-address-container ol {
  list-style: none;
  padding: 0;
}

.section.footer-address-container ol li p {
  color: #DFDFDF;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.25px;
  max-width: unset;
  margin: 0;
  padding-bottom: 10px;
  font-family: montreal-regular,sans-serif;
}

.section.footer-address-container ol li ol {
  display: flex;
  gap: 2rem;
  margin: 0;
}

@media (width <=900px) {
  .section.footer-address-container {
    padding-top: 32px;
    order: 2;
  }

    .section.footer-address-container .columns.block>div {
    padding-bottom: unset;
  }

  .section.footer-address-container .columns.block>div>div:first-child {
    min-width: 100%;
  }

  .section.footer-address-container .columns.block>div>div:last-child {
    display: none;
  }


  .section.footer-address-container .columns.block>div>div ul {
    border-top: .0625rem solid #85888c;
    padding: 24px 0;
    margin-top: 20px;
  }

  .section.footer-address-container .columns.block>div>div ul li {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
  }

  .section.footer-address-container .columns.block>div>div ul li ul {
    border-top: unset;
    padding: 0;
    justify-content: space-between;
    margin-top: unset;
  }

  .section.footer-address-container .columns.block>div>div ul li p {
    padding: 0;
  }

  .section.footer-address-container .columns.block>div>div ul li ul li span {
    width: 24px;
    height: 24px;
  }

  .section.footer-address-container .columns.block>div>div ul li ul li {
    margin-right: 20px;
    color: #ff5310;
  }
}

/* Footer Accordion */
.section.footer-accordion {
  display: none;
}

@media (width <=900px) {
  .section.footer-accordion {
    display: block;
    order: 1;
  }

  .section.footer-accordion ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .section.footer-accordion ul li {
    border-bottom: .0625rem solid #5C5A5A;
    padding: 20px 0;
  }

  .section.footer-accordion ul li p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
    font-weight: 400;
    margin: 0;
    color: #DFDFDF;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .section.footer-accordion ul li p::after {
        content: '';
        display: inline-block;
        width: 0.5em;
        height: 0.5em;
        border-top: 0.1em solid currentcolor;
        border-right: 0.1em solid currentcolor;
        transform: rotate(135deg);
        margin-left: 0.2em;
  }

  .section.footer-accordion ul li:has(ul.show)>p::after {
    transform: rotate(-45deg);
  }

  @keyframes accordian-open {
    0% {
      max-height: 0;
    }

    80% {
      max-height: 100vh;
    }

    100% {
      max-height: 100vh;
    }
  }

  .section.footer-accordion ul li ul {
    display: none;
    overflow: hidden;
    animation: accordian-open 5s linear forwards;
  }

  .section.footer-accordion ul li ul.show {
    display: block;
  }

  .section.footer-accordion ul li ul li {
    border-bottom: unset;
    padding: 0;
    font-size: 14px;
    line-height: normal;
  }

  .section.footer-accordion ul li ul li a {
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    font-weight: 400;
    padding-top: 8px;
  }

  .section.footer-accordion ul li ul li a:hover {
    text-decoration: none;
    color: #ff5310;
  }

  .section.footer-accordion .button-container a{
    all: unset;
    color: #DFDFDF;
    padding-bottom: 8px;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.25px;
  }

  .section.footer-accordion .button-container:nth-child(2){
    padding-top: 24px;
  }

   .section.footer-accordion .button-container:nth-child(4){
    padding-bottom: 24px;
    border-bottom: 1px solid #fff;
  }

   .section.footer-accordion ol{
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
    border-bottom: 1px solid #fff;
   }

   .section.footer-accordion ol li img{
    width: 30px;
    height: 30px;
   }

   .section.footer-accordion .icon-vida-footer-mob{
    width: 170px;
    height: 24px;
    margin-top: 24px;
   }

  .section.footer-accordion .default-content-wrapper p:nth-child(7),.section.footer-accordion .default-content-wrapper p:nth-child(9),.section.footer-accordion .default-content-wrapper p:nth-child(11){
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.4px;
    font-weight: 500;
    font-family: montreal-medium,sans-serif;
    color: #A7A6A6;
    padding-top: 24px;
    padding-bottom: 4px;
  }

  .section.footer-accordion .default-content-wrapper p:nth-child(8),.section.footer-accordion .default-content-wrapper p:nth-child(10){
     font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.4px;
    font-weight: 500;
    font-family: montreal-medium,sans-serif;
    color: #DFDFDF;
  }

  .section.footer-accordion .default-content-wrapper p:nth-child(11){
    padding-top: 16px;
    padding-bottom: 82px;
  }


}

/* Footer Terms Service Container CSS */
.section.terms-service-container {
  padding-top: 32px;
}

.section.terms-service-container .default-content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 32px;
  border-bottom: 1px solid #5C5A5A;
}

.section.terms-service-container .default-content-wrapper ol {
  display: flex;
  gap: 20px;
}

.section.terms-service-container .default-content-wrapper ol img{
  width: 30px;
  height: 30px;
}

@media (width <=900px) {
  .section.terms-service-container {
    order: 3;
    padding: 0;
  }

  .section.terms-service-container .default-content-wrapper {
    flex-direction: column;
  }

  .section.terms-service-container .default-content-wrapper ul {
    padding: 32px 0 24px;
    border-bottom: .0625rem solid #85888c;
    justify-content: space-between;
  }

  .section.terms-service-container .default-content-wrapper ul li {
    margin-right: unset;
  }

  .section.terms-service-container .default-content-wrapper p {
    padding: 24px 0;
    text-align: center;
  }

  .section.footer-address-container .columns.block>div>div p {
    max-width: 230px;
  }
}

@media (width<768px){
  footer .footer>div{
    padding-bottom: 64px;
  }
}

/* Registered Address Contianer */
.section.registered-address .default-content-wrapper > ul{
  display: flex;
  align-items: flex-end;
  gap: 40px;
  padding-top: 32px;
}

.section.registered-address .default-content-wrapper ul li ul li{
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.4px;
  font-weight: 500;
  font-family: montreal-medium,sans-serif;
}

.section.registered-address .default-content-wrapper > ul > li:nth-child(1),.section.registered-address .default-content-wrapper > ul > li:nth-child(2){
  width: 40%;

}

.section.registered-address .default-content-wrapper > ul > li:nth-child(3){
  width: 50%;
  text-align: end;
}

.section.registered-address .default-content-wrapper ul li ul li:nth-child(1){
  color: #A7A6A6;
}

.section.registered-address .default-content-wrapper ul li ul li:nth-child(2){
  color: #DFDFDF;
}

@media (width<768px){
  .section.registered-address{
    display: none;
  }

  .section.section.section.footer-address-container{
    display: none;
  }

  .section.terms-service-container{
    display: none;
  }
}