@font-face {
  font-family: montreal-regular;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/PPNeueMontreal-Regular.woff2') format('woff2');
}

@font-face {
  font-family: montreal-medium;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/PPNeueMontreal-Medium.woff2') format('woff2');
}

@font-face {
  font-family: montreal-semibold;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/PPNeueMontreal-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: montreal-bol;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/PPNeueMontreal-Bold.woff2') format('woff2');
}
